html {
  box-sizing: border-box;
  font-size: 10px;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  --c: 7px;
  background-color: #000;
  background-image:
    radial-gradient(circle at 50% 50%, #0000 1.5px, #000 0 var(--c), #0000 var(--c)),
    radial-gradient(circle at 50% 50%, #0000 1.5px, #000 0 var(--c), #0000 var(--c)),
    radial-gradient(circle at 50% 50%, #f00, #f000 60%),
    radial-gradient(circle at 50% 50%, #ff0, #ff00 60%),
    radial-gradient(circle at 50% 50%, #0f0, #0f00 60%),
    radial-gradient(ellipse at 50% 50%, #00f, #00f0 60%);
  background-size:
    12px 20.7846097px,
    12px 20.7846097px,
    200% 200%,
    200% 200%,
    200% 200%,
    200% 20.7846097px;
  --p: 0px 0px, 6px 10.39230485px;
  background-position:
    var(--p),
    0% 0%,
    0% 0%,
    0% 0px;
  /* animation:
    wee 40s linear infinite,
    filt 6s linear infinite; */
}

* {
  box-sizing: border-box;
}
